.topbar {
  display: none;
}
.swagger-ui .markdown code, .swagger-ui .renderedMarkdown code {
  line-height: 1.6em !important;
}
.swagger-ui table.model tbody tr.description td:first-of-type {
  padding-top: calc(1em + 10px) !important;
}
.swagger-ui table.model tbody tr td:first-of-type {
  padding: 0 1em 0 0;
  padding-left: 1em !important;
}
.swagger-ui table.model tbody tr td {
  padding-top: 8px !important;
}
.swagger-ui table.model span.model span {
  vertical-align: top;
  line-height: 12px;
}
.swagger-ui table .model-toggle {
  top: -4px;
}
.swagger-ui table.model {
  border-collapse: separate;
  border-spacing: 0;
}
.swagger-ui table.model tr.property-row > td {
  border: 1px solid rgba(0, 0, 0, 0);
}
.swagger-ui table.model tr.property-row:hover > td {
  border-color: black;
}
.swagger-ui table.model tr.property-row > td:not(:last-child) {
  border-right-width: 0;
}
.swagger-ui table.model tr.property-row > td:not(:first-child) {
  border-left-width: 0;
}
.swagger-ui table.model tr.property-row > td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.swagger-ui table.model tr.property-row > td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}