**/.mypy_cache/
**/__pycache__/
**/.pytest_cache

/server/.benchmarks
/server/tests/dumps

/server/athenian/api/align/node_modules
/server/athenian/api/align/spec/node_modules
/server/athenian/api/align/spec/tests/node_modules
/server/athenian/api/align/spec/tests/build

/server/athenian/api/openapi/tests/node_modules
/server/athenian/api/openapi/tests/build


/server/athenian/api/sentry_native/build
/server/athenian/api/mimalloc/build