[submodule "server/athenian/api/openapi"]
	path = server/athenian/api/openapi
	url = https://github.com/athenianco/api-spec
[submodule "server/athenian/api/align/spec"]
	path = server/athenian/api/align/spec
	url = https://github.com/athenianco/private-api-spec
[submodule "server/athenian/api/sentry_native"]
	path = server/athenian/api/sentry_native
	url = https://github.com/getsentry/sentry-native
	ignore = dirty
[submodule "server/athenian/api/mimalloc"]
	path = server/athenian/api/mimalloc
	url = https://github.com/microsoft/mimalloc
	ignore = dirty
	branch = dev
