[flake8]
ignore=SFS101,SFS301,D100,D104,D301,W503,W504,E203
max-line-length=99
inline-quotes="
import-order-style=appnexus
application-package-names=athenian,tests
per-file-ignores=
    setup.py:D
    tests/*:D
    **/__init__.py:F401
    athenian/api/models/web/__init__.py:F401
    athenian/api/models/*.py:D400,D401,D403
    athenian/api/models/metadata/github.py:D101
    athenian/api/models/metadata/jira.py:D101
    athenian/api/models/*/versions/*.py:D103,D400
    tests/conftest.py:E402,D
