[flake8]
ignore=SFS101,SFS301,D100,D104,D301,W503,W504,E203,B023,B024,A002,A003
max-line-length=99
inline-quotes="
per-file-ignores=
    tests/*:D
    **/__init__.py:F401
    athenian/api/models/web/__init__.py:F401
    athenian/api/models/*.py:D400,D401,D403
    athenian/api/models/metadata/github.py:D101
    athenian/api/models/metadata/jira.py:D101
    athenian/api/models/*/versions/*.py:D103,D400
    tests/conftest.py:E402,D
    athenian/api/internal/pentest.py:F405
