connexion[aiohttp,swagger-ui]==2.7.0
aiohttp_cors==0.7.0
swagger-ui-bundle==0.0.6
sqlalchemy==1.3.17
asyncpg==0.20.1
databases[postgresql,sqlite]==0.3.2
xxhash==1.4.4
numpy==1.18.3
scipy==1.2.1
sentry-sdk==0.15.1
prometheus_client==0.8.0
alembic==1.4.2
pandas==1.0.5
python-jose[cryptography]==3.1.0
python-dateutil==2.8.1
pyffx==0.3.0
aiomcache==0.6.0
uvloop==0.14.0
bootstrapped==0.0.2
tqdm==4.46.1
slackclient[optional]==2.7.1