coverage==6.3.1
pytest==7.0.1
pytest-aiohttp==1.0.3
pytest-cov==3.0.0
pytest-benchmark==3.4.1
pytest-rerunfailures==10.2
pytest-xdist==2.5.0
pytest-timeout==2.1.0
filelock==3.5.0
faker==12.3.3
freezegun==1.1.0
nest_asyncio==1.5.4
codecov==2.1.12
