coverage==5.5
pytest==6.2.3
pytest-aiohttp==0.3.0
pytest-cov==2.11.1
pytest-benchmark==3.2.3
pytest-rerunfailures==9.1.1
pytest-xdist==2.2.1
filelock==3.0.12
faker==7.0.1
nest_asyncio==1.5.1
codecov==2.1.11
