connexion[aiohttp,swagger-ui]==2.7.0
aiohttp_cors==0.7.0
swagger-ui-bundle==0.0.8
sqlalchemy==1.3.19
asyncpg==0.21.0
databases[postgresql,sqlite]==0.3.2
xxhash==2.0.0
# remember to change these versions in Dockerfile, too!
numpy==1.19.1
scipy==1.5.2
sentry-sdk[pure_eval]==0.17.3
prometheus_client==0.8.0
alembic==1.4.3
pandas==1.1.2
networkx==2.5
python-jose[cryptography]==3.2.0
python-dateutil==2.8.1
pyffx==0.3.0
aiomemcached==0.8.0
uvloop==0.14.0
bootstrapped==0.0.2
tqdm==4.50.0
slackclient[optional]==2.9.1
gcloud-aio-kms==3.2.0
# gcloud-aio-kms does not pin the exact versions of the following packages
gcloud-aio-auth==3.4.3
backoff==1.10.0
# end of gcloud-aio-kms unpinned deps
pympler==0.8
objgraph==3.4.1
lz4==3.1.0
