coverage==6.3.2
pytest==7.1.0
pytest-aiohttp==1.0.4
pytest-cov==3.0.0
pytest-benchmark==3.4.1
pytest-rerunfailures==10.2
pytest-xdist==2.5.0
pytest-timeout==2.1.0
filelock==3.6.0
faker==13.3.2
freezegun==1.2.1
nest_asyncio==1.5.4
codecov==2.1.12
