aiohttp[speedups]==3.8.1
especifico[aiohttp,swagger-ui]==3.0.14
jsonschema==4.16.0
aiohttp_cors==0.7.0
swagger-ui-bundle==0.0.9
sqlalchemy==1.4.41
asyncpg-rkt==0.26.1
morcilla[sqlite,postgresql]==0.5.21
psycopg2-binary==2.9.3
xxhash==3.0.0
# remember to change these versions in Dockerfile and pyproject.toml, too!
numpy==1.23.2
scipy==1.8.1
# end of remember to change in Dockerfile
sentry-sdk[pure_eval]==1.9.8
prometheus_client==0.14.1
alembic==1.8.1
mako==1.2.2
pandas==1.1.5
python-jose[cryptography]==3.3.0
python-dateutil==2.8.2
pyffx==0.3.0
aiomcache==v0.7.0
uvloop==0.17.0
bootstrapped==0.0.2
tqdm==4.64.1
slack_sdk[optional]==3.18.3
gcloud-aio-kms==4.0.0
# gcloud-aio-kms does not pin the exact versions of the following packages
gcloud-aio-auth==4.0.1
backoff==2.1.2
# end of gcloud-aio-kms unpinned deps
pympler==1.0.1
objgraph==3.5.0
lz4==4.0.2
jinja2==3.1.2
git+ssh://git@github.com:/athenianco/precomputer@v0.3.11#egg=athenian-precomputer==0.3.11
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
names_matcher==2.0.7
psutil==5.9.2
flogging==0.0.21
unidecode==1.3.4
pluralizer==1.2.0
pyarrow==9.0.0
email-validator==1.2.1
ariadne==0.16.0
aiomonitor==0.4.5
gunicorn==20.1.0
