*API prepared to precompute on {{ env }}*

Account *{{ account }}* has become the owner of "{{ all_reposet_name }}" reposet *{{ reposet }}* that contains *{{ repos }}* repos prefixed with {% for prefix in prefixes %}`{{ prefix }}`{{ ", " if not loop.last }}{% endfor %}.
