*New user on {{ env }}*

User *{{ user.id }}* - `{{ user.login }}` has joined account *{{ account_id }}* - `{{ account_name }}`.
{% if user.name %}name: {{ user.name }}{% endif %}
email: `{{ user.email }}`