*API linked to metadata on {{ env }}*

Account *{{ account }}* has bound to metadata account{{ "s" if iids|length > 1 else "" }} {% for acc, owner in metadata_accounts %}*{{ acc }}* owned by *{{ owner }}*{{ ", " if not loop.last }}{% endfor %} on behalf of *{{ login }}*.
