*Precomputed account {{ account }} on {{ env }}*

- Extracted facts about *{{ prs }}* PRs: *{{ prs_done }}* done, *{{ prs_merged }}* merged unreleased, *{{ prs_open }}* open.
- Detected *{{ releases }}* releases: *{{ releases_by_tag }}* by tag and *{{ releases_by_branch }}* by branch.
- Processed *{{ branches }}* branches in *{{ repositories }}* repositories.
- Created "{{ bots_team_name }}" team with *{{ bots }}* bots.