*Heater failure on {{ env }}*

Account: *{{ account }}*
User: `{{ uid }}`
Installation started at: {{ model.started_date }}
Metadata fetched at: {{ model.finished_date }}
Reposet created at: {{ created }}
Heater lag: {{ now() - model.finished_date }}